@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


@theme{
    --color-background-top: #4597cb;
    --color-background-bottom: #071117;
    --color-background-middle: #325160;

    --color-surface-gray: #444444;

    --color-text: #e3eeeb;
    --color-hover: #46927d;
    --color-foreground: #ffffff;
    --color-polaroid-blue: #4597cb;

    /*default radius for rounded corners*/
    --radius-default: 0.75rem;
}

@layer base {
    html {
        scroll-behavior: smooth;
    }

    body {
        background-color: var(--color-background-bottom);
        color: var(--color-background-top);
        font-family: "Noto Sans", sans-serif;
    }
}

@layer components {
    .glass{
        background-color: color-mix(in srgb, var(--color-background-top) 50%, transparent);
        backdrop-filter: blur(16px);
    }
}

@layer utilities {
    @keyframes fade-in {
        from {
            opacity: 0;
            transform: translateY(10px);
            filter: blur(5px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
            filter: blur(0);
        }
    }
    .animate-fade-in {
        animation: fade-in 0.3s ease-out both;
    }
    @keyframes fade-out {
        from {
            opacity: 1;
            transform: translateY(0px);
            filter: blur(0px);
        }
        to {
            opacity: 0;
            transform: translateY(3px);
            filter: blur(3px);
        }
    }
    .animate-fade-out {
        animation: fade-out 0.1s ease-out both;
    }
}