@import "tailwindcss";

@theme{
    --color-background-top: #FFBB8A;
    --color-background-bottom: #1A1816;
    --color-background-middle: #FFDDC4;
    --color-background-gray: #8C8987;
    --color-text: #333333;
    --color-hover: #FF852E;
    --color-foreground: #ffffff;

    /*default radius for rounded corners*/
    --radius-default: 0.75rem;
}

@layer base {
    html {
        scroll-behavior: smooth;
    }

    body {
        background-color: var(--color-background-bottom);
        color: var(--color-background-top);
        font-family: "Inter", sans-serif;
    }
}

@layer components {
    .glass{
        background-color: color-mix(in srgb, var(--color-background-top) 50%, transparent);
        backdrop-filter: blur(16px);
        border: 1px solid color-mix(in srgb, var(--color-background-middle) 50%, transparent);
    }
}